.controlsTop {
  margin: 3rem 0;
  z-index: 3;
}

.controlsList {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.controlsList > li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    margin: 0 .5rem;
}
