.ringInfoDisplay {
  /* border: 1px solid yellow; */
  border-radius: 5px;
  /* width: 80%; */
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 18rem;
}

.ringInfoList {
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* width: 100%; */
  text-align: left;
  margin: 0;
  padding: 0;
}

.ringInfoList > li {
  /* display: block; */
  /* flex: 0 1 auto; */
  list-style-type: none;
}

.ringInfoText {
  /* color: #ffffff; */
}
.ringInfoSpan {
  text-decoration: underline;
  font-weight: bold;
}
