.controlsTop {
  /* margin: 3rem 0; */
  z-index: 3;
  position: absolute;
  top: 1rem;
  left: 2rem;
  max-width: 15rem;
  /* border-top: 1px solid #ffffff; */
}

.controlsList {
    /* display: flex; */
    /* align-items: stretch; */
    /* justify-content: space-between; */
    /* width: 100%; */
    /* margin: 0; */
    padding: 0;
    text-align: left;
}
.controlsList > li {
    /* display: block; */
    /* flex: 0 1 auto; */
    list-style-type: none;
    /* margin: 0 .5rem; */
    margin: 1rem 0;
}

.controlsSublist {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.controlsSublist > li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    margin: 0 .5rem;
    /* margin: 1rem 0; */
}

.controlsBtn {
  /* border: 1px solid red; */
}
.controlBtnHighlight {
  border: solid 2px green;
  background-color: #06d6a0;
}

@media screen and (max-width: 420px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .controlsTop {
    left: 0rem !important;
    max-width: 100vw !important;
    width: 100vw !important;
  }
}
