.mobile {
  display: none;
}

.KnobBoxTop {
  background-color: #282c34;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}
.canvasBox {
  position: absolute;
  /* left: 30rem; */
  right: 10rem;
  /* border: 1px solid #ffffff; */
  /* width: 70%; */
  width: fit-content;
  /* height: fit-content; */
}
.canvasBox2 {
  position: relative;
  /* border: 1px solid pink; */
  height: 730px;
  width: 730px;
  margin: 0 auto;
}

.canvasBox2Mobile {
  height: 370px !important;
  width: 370px !important;
}
.canvasBox3 {
  position: relative;
  /* border: 1px solid pink; */
  height: 400px;
  width: 400px;
  margin: 0 auto;
}


.canvas1 {
  position: absolute;

  left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */

  top: 0;
  bottom: 0;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin: auto;

  z-index: 3;
}
.canvas2 {
  position: absolute;

  left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */

  top: 0;
  bottom: 0;
  /* margin-top: auto;
  margin-bottom: auto; */
  margin: auto;

}
.canvas3 {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  /* border:1px solid red; */
  border-radius: 50%;
  /* padding: 3rem; */
}
.borderedRing {
  border:5px solid red;
}

.controlsBox {
  /* border:1px solid green; */
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 60%;
  margin: 0 auto;
}



.mainKnob {
  /* height: 10rem; */
  /* height: 400; */
  display: none;
}

.pointerBox {
  /* border: 1px solid #ffffff; */
  text-align: center;
}
.pointerIcon {
  color: #ffffff;
}

.ringInfoDisplay {
  /* border: 1px solid yellow; */
  border-radius: 5px;
  /* width: 80%; */
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 10rem;
}

.ringInfoList {
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* width: 100%; */
  text-align: left;
  margin: 0;
  padding: 0;
}

.ringInfoList > li {
  /* display: block; */
  /* flex: 0 1 auto; */
  list-style-type: none;
}

.ringInfoText {
  /* color: #ffffff; */
}
.ringInfoSpan {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .KnobBoxTop {
    width: 110vw;
    min-height: 120vh;
  }

  .canvasBox {
    /* position: relative; */
    left: .5rem;
    /* right: 0rem; */
    top: 4rem;
  }

  .canvasBox2 {
    /* border: 1px solid pink; */
    height: 370px;
    width: 370px;

  }

  /* .canvasBox2Mobile {
    height: 400px !important;
    width: 400px !important;
  } */
}
