.ringInfoDisplay {
  /* border: 1px solid yellow; */
  border-radius: 5px;
  /* width: 80%; */
  max-width: 25rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 9rem;
}

.ringInfoList {
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* width: 100%; */
  text-align: left;
  margin: 0;
  padding: 0;
}

.ringInfoList > li {
  /* display: block; */
  /* flex: 0 1 auto; */
  list-style-type: none;
}

.ringInfoText {
  /* color: #ffffff; */
}
.ringInfoSpan {
  text-decoration: underline;
  font-weight: bold;
}

.ringInfo2Top {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  max-width: 25rem;
}

@media screen and (max-width: 420px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .ringInfoDisplay {
    max-width: 20rem;
  }

}
