.ringInfoDisplay {
  /* border: 1px solid yellow; */
  border-radius: 5px;
  border: 2px solid #ffffff;
  /* width: 80%; */
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(0,0,0,.95);
  /* background-color: #ffffff; */
  position: absolute;
  left: 2rem;
  top: 9rem;
  box-shadow: 0px 7px 15px rgba(20,33,61,.4);
}

.ringInfoList {
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* width: 100%; */
  text-align: left;
  margin: 0;
  padding: 0;
}

.ringInfoList > li {
  /* display: block; */
  /* flex: 0 1 auto; */
  list-style-type: none;
}

.ringInfoText {
  color: #ffffff;
  /* font-size: 1.2rem; */
}
.ringInfoSpan {
  text-decoration: underline;
  font-weight: bold;
}

.ringInfo2Top {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: rgba(0,0,0,.95);
  /* background-color: #ffffff; */
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 1rem;
  max-width: 30rem;
  min-width: 12rem;
  box-shadow: 0px 7px 15px rgba(20,33,61,.4);
}

.clickInfoClose {
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.clickInfoImage {
  margin: 1rem;
}
.interpretation {
  display: inline-block;
  margin: 3px;
  /* font-size: 1.2rem; */
}

.ul {
  text-decoration: underline;
}
.bld {
  font-weight: bolder;
}
.m1 {
  margin: 1rem;
}

.top3 {
  display: inline-block;
}
.top2 {
  margin-right: 1rem;
}

.interpList {
  /* display: flex; */
}


@media screen and (max-width: 420px) {
  .mobile {
    display: inline-block;
  }
  .desktop {
    display: none;
  }

  .ringInfoDisplay {
    max-width: 20rem;
    top: 29rem;
    height: 20rem;
    overflow: scroll;
  }

  .ringInfo2Top {
    /* bottom: -6rem; */
    top: 30rem;
    height: 20rem;
    overflow: scroll;
  }

  .interpretation {
    /* font-size: 1rem; */
  }

  .top3 {
    display: block;
  }

}

@media screen and (max-height: 640px) {

  .ringInfoDisplay {

  }
  .ringInfo2Top {
    bottom: -12rem !important;
  }
}

@media screen and (max-height: 570px) {
  .ringInfo2Top {
    bottom: -17rem !important;
  }
}
